
<br>
<h1>Editing House Picture</h1>
<br>
<%= render 'form' %>

<!--<%= link_to 'Show', house_picture_path(@house_picture) %> |-->
<%= link_to 'Back', house_house_pictures_path(@house_picture.house_id) ,class:'btn btn-success',style:'margin-left:20px;width:100px' %>
