<br>
<h1>Add a New House Picture</h1>
<br>
<%= render 'form', house_picture: @house_picture %>

<%= link_to 'Back', house_house_pictures_path(@house.id),class:'btn btn-success' ,style:'margin-left:20px;width:100px'%>