<div class="jumbotron" style="margin-top:20px">
  <p class="about">
    We join people house owner and house renter where the owner can publish his/her house information to world.<br>
    We help the people who have the house for getting the clients for rent.<br>
    The renter can search for the house of his or her dream to live in.<br>
    Simply we make your life easier for for getting what you want. 
   
  </p>
</div>