<div class="jumbotron" style="margin-top:20px">
  <p class="contact" style="font-weigh">
    RWANDA  <%=image_tag("rwanda_flag.png",height:'30px',width:'60px')%><br>
    KIGALI<br>
    Email: kalisamukwiye@gmail.com<br>
    Phone number: 0788454205<br>
  </p>
</div>